
<section class="mt-5">

  <table class="table w-full mt-2 table-md">
    <thead>
      <tr>
        <th>#</th>
        <th>Ícono</th>
        <td>Bandera</td>
        <td>País</td>
        <td>Capital</td>
        <td>Población</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
        <tr>
          <td>{{ index + 1 }}</td>
          <td>{{ country.flag }}</td>
          <td>
            <img
              [src]="country.flagSvg"
              [alt]="country.name"
              class="w-10"
            />
          </td>
          <td>{{ country.name }}</td>
          <td>
              {{ country.capital }}
          </td>
          <td>
            <span class="badge badge-accent">
              {{ country.population | number }}
            </span>
          </td>
          <td>
            <a
              [routerLink]="['/country/by', country.cca2]"
              class="cursor-pointer link-primary">Más información
            </a>
          </td>
        </tr>
      }

      @if (errorMessage()) {
        <tr>
          <td colspan="8" class="text-center text-red-500">
            {{ errorMessage() }}
          </td>
        </tr>
      }

      @if (countries().length === 0 && !isLoading() && !errorMessage()) {
        <tr>
          <td colspan="8" class="text-center">
            No se encontraron países.
          </td>
        </tr>
      }

      @if (isLoading()) {
        <tr>
          <td colspan="8" class="text-center">
            <div class="flex flex-col items-center gap-2">

              <img src="assets\spinner.svg" alt="Loading" class="w-20 h-20">
              <span class="text-gray-500">Buscando países...</span>

            </div>
          </td>
        </tr>
      }

    </tbody>
  </table>

</section>
